@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
  root: ":root";
  include: ;
  exclude: ;
  prefix: ;
  logs: true;
}

@import "@firebase-ui/styles/src/base.css";

/* @import "@firebase-ui/styles/src/themes/dark.css"; */
/* @import "@firebase-ui/styles/src/themes/brutalist.css"; */

@utility menu {
  & li >*:not(ul, details, .menu-title, .btn) {
    padding-block: 0.5rem;
  }
}